.navBarContainer {
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
}

.buttonContato {
  border-radius: 14px;
  border: 2px solid var(--blue-purple);
  background-color: var(--blue-purple);
  color: var(--white);
  cursor: pointer;
  font-size: 1.25rem;
  padding: 8px 24px;
  transition-duration: 0.4s;
}

.buttonContato:hover {
  background-color: var(--white);
  color: var(--black);
}

.buttonProjetos {
  color: var(--black);
  background: none;
  border: none;
  cursor: pointer;
  outline: inherit;
  font-size: 1.25rem;
  padding: 8px 24px;
}

.buttonProjetos:hover {
  color: var(--blue-purple);
}

.buttonHome {
  background-color: var(--dark-purple);
  color: var(--dark-purple);
  background: none;
  border: none;
  font-size: 2rem;
  letter-spacing: 5px;
}

button.active.focus
  button.active:focus
  button.focus
  button:active.focus
  button:active:focus
  button:focus {
  outline: none;
  box-shadow: none;
}

.menuIcon {
  display: none;
}

@media screen and (max-width: 768px) {
  .buttonHome {
    margin-left: 10%;
  }
  .navBar {
    justify-content: space-between;
  }
  .menuIcon {
    display: block;
    margin-top: 1%;
    margin-right: 3%;
    font-size: 40px;
    color: var(--dark-purple);
    cursor: pointer;
  }

  .navLinks {
    padding: 10px;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 12vh;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: all 0.5s ease-in;
    z-index: 1;
  }
  .buttonContato {
    margin-top: 100px;
    cursor: pointer;
  }
  .buttonProjetos {
    padding: 50px;
  }
}

.navActive {
  padding: 10px;
  position: absolute;
  right: 0px;
  height: 100%;
  top: 12vh;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: all 0.5s ease-in;
  transform: translateX(0%);
  z-index: 1;
}
