* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --blue-purple: #8d86c9;
  --white: #fafafa;
  --dark-purple: #242038;
  --blue: #725ac1;
}

body,
input,
textarea,
button {
  font: 400 1rem "Cormorant Garamond", serif;
}

h1 {
  font-family: "Cormorant Garamond", serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
